.page.theme_light {
  --page-background-color: var(--color-pink-3, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");
  --text-color: var(--color-black-1, #353430);
  --highlight-color: var(--color-black-1, #353430);
  --main-color: var(--color-pink-2,  #ffc2e6);
  --second-color: var(--color-pink-1, #ff8dcb);
  --second-color-4-trans: var(--color-black-1-trans, #32312d40);
  --accent-color: var(--color-black-1, #353430);

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-color: var(--color-pink-3, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");
    --text-color: var(--color-black-1, #353430);
    --highlight-color: var(--color-black-1, #353430);
    --main-color: var(--color-pink-2,  #ffc2e6);
    --second-color: var(--color-pink-1, #ff8dcb);
    --second-color-4-trans: var(--color-black-1-trans, #32312d40);
    --accent-color: var(--color-black-1, #353430);
  
    --rec-decor-visibility: hidden;
  }
}
